
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>CEDRIC STUDIO</h1>
    <p>Black Friday </p>
    <p>Giảm giá lên tới 50%</p>
  </div>

  <!-- Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải -->
  <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">

    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ điện tử</option>
      <option>Hải sản</option>
      <option>Bánh kẹo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src="https://images.pexels.com/photos/7671168/pexels-photo-7671168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Áo sơ mi</h3>
            <p class="product-description">Chất liệu vải linen với đầy đủ size từ S-M-L-XL-XXl</p>
            <p class="product-warranty">- Chính Sách Bảo Hành sản phẩm 7 ngày</p>
            <p class="product-warranty">- Hoàn hàng miễn phí</p>

            <p class="product-price">Giá: <del>₫400.000</del> ₫199.000</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn btn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn btn-success">Mua ngay</button>    

        </div>
        </div>
    </div>
       <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src=" https://images.pexels.com/photos/28570315/pexels-photo-28570315.jpeg"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Quần Âu</h3>
            <p class="product-description">Quần Âu Suông Ống Rộng Nam Nữ, Chất Liệu Kaki Thoáng Mát, Dáng Hàn Quốc</p>
              <p class="product-warranty">- Chính Sách Bảo Hành sản phẩm 7 ngày</p>
            <p class="product-warranty">- Hoàn hàng miễn phí</p>
            <p class="product-price">Giá: <del>₫569.000</del>   ₫269.000</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn btn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn btn-success">Mua ngay</button>    

        </div>
        </div>


    </div>   <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src="https://images.pexels.com/photos/1129019/pexels-photo-1129019.jpeg"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Áo thun nam nữ </h3>
            <p class="product-description">Áo thun nam nữ in tro đen mới của Uniqlo đầy đủ size phù hợp cân nặng chiều cao !
</p>
         <p class="product-warranty">- Chính Sách Bảo Hành sản phẩm 7 ngày</p>
            <p class="product-warranty">- Hoàn hàng miễn phí</p>
            <p class="product-price">Giá: <del>₫253.000</del> ₫109.000</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn btn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn btn-success">Mua ngay</button>    

        </div>
        </div>


    </div>   <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src=" https://images.pexels.com/photos/29987346/pexels-photo-29987346/free-photo-of-saint-john-at-kaneo-by-lake-ohrid.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Product 1</h3>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="product-warranty">Bảo hành: 12 tháng</p>
            <p class="product-price">Giá: <del>$200</del> $100</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn btn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn btn-success">Mua ngay</button>    

        </div>
        </div>


    </div>   <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src=" https://images.pexels.com/photos/29987346/pexels-photo-29987346/free-photo-of-saint-john-at-kaneo-by-lake-ohrid.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Product 1</h3>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="product-warranty">Bảo hành: 12 tháng</p>
            <p class="product-price">Giá: <del>$200</del> $100</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn tbn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn tbn-success">Mua ngay</button>    

        </div>
        </div>


    </div>   <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src=" https://images.pexels.com/photos/29987346/pexels-photo-29987346/free-photo-of-saint-john-at-kaneo-by-lake-ohrid.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Product 1</h3>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="product-warranty">Bảo hành: 12 tháng</p>
            <p class="product-price">Giá: <del>$200</del> $100</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn tbn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn tbn-success">Mua ngay</button>    

        </div>
        </div>


    </div>   <div class="col-lg-4 col-md-6">
        <div class="product-item">
            <img
           src=" https://images.pexels.com/photos/29987346/pexels-photo-29987346/free-photo-of-saint-john-at-kaneo-by-lake-ohrid.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Product Image" 
            class="product-image">
            <h3 class="product-name">Product 1</h3>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="product-warranty">Bảo hành: 12 tháng</p>
            <p class="product-price">Giá: <del>$200</del> $100</p>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-alt"></i>
            </div>
        <div class="product-actions">
            <button class="btn tbn-primary">Thêm vào giỏ hàng</button>    
            <span class="space-x"></span>
            <button class="btn tbn-success">Mua ngay</button>    

        </div>
        </div>


    </div>
  </div>
</div>
<app-fotter></app-fotter>
